<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kairos</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/ext/json-enc.js"></script>
  </head>

  <body>
    <h1>Kairos</h1>
    <h2>Filter Presets</h2>

    <form
      hx-post="/api/v1/preset_filters/"
      hx-ext="json-enc"
      hx-swap="none"
      hx-on::after-request="if (event.detail.successful) htmx.trigger('#preset-filters-table', 'refresh')"
    >
      <label for="filter-name">
        Filter Name
      </label>

      <input id="filter-name" name="display_name" />

      <label for="filter-value">
        Filter Value
      </label>

      <input id="filter-value" name="filter_string" />

      <button type="submit">
        Submit
      </button>
    </form>

    <div
      id="preset-filters-table"
      hx-get="/api/v1/preset_filters/"
      hx-trigger="load, refresh from:body"
      hx-swap="innerHTML"
    >
      <p>Loading...</p>
    </div>
  </body>
</html>
